---
import { Image } from "astro:assets";

import type { ImageMetadata } from "astro";

interface Props {
	name: string;
	weight?: string;
	image?: ImageMetadata;
	class?: string;
}

const { name, weight, image, class: className = "" } = Astro.props;

const imageAlt = name;
---

<div
	class={`bg-white cursor-pointer rounded-card shadow-md hover:shadow-xl transition-shadow duration-300 overflow-hidden ${className}`}>
	<Image src={image!} alt={imageAlt!} class='w-full h-full object-cover' />
	<div class='p-4 text-center'>
		<h3 class='font-semibold text-kfood-body mb-1 font-body'>{name}</h3>
	</div>
</div>
