---
import { Image } from "astro:assets";
import pchir from "../../assets/PCHIR.png";
import gmp_practices from "../../assets/gmp_practice.png";
import halal from "../../assets/Halal.png";

const certifications = [{ icon: pchir }, { icon: gmp_practices }, { icon: halal }];
---

<section class='py-12 md:py-[50px] bg-white'>
	<div class='px-6 md:px-10 lg:px-16'>
		<div class='flex flex-wrap justify-center items-center gap-8'>
			{
				certifications.map((cert) => (
					<div class='flex flex-col items-center'>
						<Image src={cert.icon} alt='Certification' class='w-full h-full object-contain' />
					</div>
				))
			}
		</div>
	</div>
</section>
