---
import { Image } from "astro:assets";
import gmp from "../../assets/gmp.png";
import iso from "../../assets/iso.png";
import gmp_practices from "../../assets/gmp_practice.png";
import haccp from "../../assets/haccp.png";

const certifications = [{ icon: iso }, { icon: gmp }, { icon: gmp_practices }, { icon: haccp }];
---

<section class='py-12 md:py-[150px] bg-white'>
	<div class='container mx-auto'>
		<div class='flex flex-wrap justify-center items-center gap-8'>
			{
				certifications.map((cert) => (
					<div class='flex flex-col items-center'>
						<Image src={cert.icon} alt='Certification' class='w-full h-full object-contain' />
					</div>
				))
			}
		</div>
	</div>
</section>
