---
import { Image } from "astro:assets";
import bgImage from "../../assets/BG2 3.png";
import kisaanStoriesImage from "../../assets/kissan_story.png";
---

<section class='relative min-h-[400px] overflow-hidden bg-section py-16'>
	<div class='pointer-events-none absolute right-0 top-0 h-full w-full opacity-[0.05]' aria-hidden='true'>
		<Image src={bgImage} alt='' class='h-full w-full object-cover object-right' />
	</div>

	<div
		class='container relative z-10 mx-auto flex min-h-[300px] md:min-h-[440px] flex-col items-center gap-8 px-4 lg:flex-row lg:items-center lg:justify-between lg:gap-12'>
		<div class='flex-col justify-center text-center lg:max-w-md lg:text-left'>
			<h2 class='text-heading-section px-4'>Beyond Our Products</h2>
		</div>

		<div class='flex items-center justify-center gap-4'>
			<div class='overflow-hidden rounded-card shadow-lg w-full'>
				<div class='relative w-full overflow-hidden aspect-video md:aspect-auto md:h-auto'>
					<Image src={kisaanStoriesImage} alt='Farmers in our supply network' class='h-full w-full object-cover' />
				</div>
			</div>
		</div>
	</div>
</section>
