---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutKFood from "../components/sections/AboutKFood.astro";
import ProductsSection from "../components/sections/ProductsSection.astro";
import NetworkTrust from "../components/sections/NetworkTrust.astro";
import FeatureSection from "../components/sections/FeatureSection.astro";
import CustomersSection from "../components/sections/CustomersSection.astro";
import StoreLocator from "../components/sections/StoreLocator.astro";
import PartnerForm from "../components/sections/PartnerForm.astro";
import NewsSection from "../components/sections/NewsSection.astro";
import KisaanStories from "../components/sections/KisaanStories.astro";
import Certifications from "../components/sections/Certifications.astro";
---

<Layout>
	<Header />

	<main>
		<HeroSection />

		<AboutKFood />

		<ProductsSection />

		<NetworkTrust />

		<FeatureSection />

		<CustomersSection />

		<StoreLocator />

		<PartnerForm />

		<NewsSection />

		<KisaanStories />

		<Certifications />
	</main>

	<Footer />
</Layout>
